# Supabase Configuration
POSTGRES_URL=your_postgres_url
POSTGRES_USER=your_postgres_user
POSTGRES_HOST=your_postgres_host
SUPABASE_JWT_SECRET=your_supabase_jwt_secret
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
POSTGRES_PRISMA_URL=your_postgres_prisma_url
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DATABASE=your_postgres_database
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
POSTGRES_URL_NON_POOLING=your_postgres_url_non_pooling

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_EyOF2RtcbD2nzQsYQ0tV6My5Zc4Jxrtq

# Twilio Configuration
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number

# Cronofy Configuration (Calendar Sync)
CRONOFY_CLIENT_ID=your_cronofy_client_id
CRONOFY_CLIENT_SECRET=your_cronofy_client_secret

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

# OAuth Configuration
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id

# Google Apps Script for Email Capture
NEXT_PUBLIC_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/1hn8Tlc46NEDYs_oVdo8dStS1IzCRLKCisjwQ7_mc3lRQNMofy5g3BvSiD/exec
